@font-face {
    font-family: "VCR OSD Mono";
    src: url("vcr_osd_mono.ttf");
}

body
{
    background-color: black;
    color: mediumspringgreen;
}
#minesweeperContainer
{
    width: 64px;
    height: 64px;
    border: solid 1px mediumspringgreen;
    display: block;
    margin: auto;
}
